.header {
  max-height: 576px;
  background: transparent url("../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.svg") center no-repeat;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .header {
    max-width: 1439px;
    justify-content: center;
  }
}
